#guideline-div{
	float:left;
	width:25%;
}

#followup-div{
	float:right;
	width:74%;
}

#endOfCalendar-div{
	float:bottom;
	width:100%;
}

#addCareDetailDiv{
	display:none;
	margin-top:10px;
}

#addCareDiv{
	margin-top:10px;
}

#cancelAddCare{
	display:none;
}

#saveAddCare{
	display:none;
}

.sub_title{
	font-weight:bold;
	margin-top:7px;
	margin-bottom:7px;	
}

#addRecommendedCareDetailDiv{
	display:none;
	margin-top:10px;
}

#addRecommendedCareDiv{
	margin-top:10px;
}

#cancelAddRecommendedCare{
	display:none;
}

#saveAddRecommendedCare{
	display:none;
}


